<!DOCTYPE html>
<html lang="en "xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Fistname</th>
        <th>Lastname</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Luke</td>
        <td th:text="${author.lastName}">Thomas</td>
        <td th:each="book : ${author.books}" th:text="${book.title}">Books</td>
    </tr>
</table>

</body>
</html>